{% extends 'base.html' %}

{% block content %}
  <div class="d-flex align-items-center" style="margin-top: 2cm !important;">
    <a href="{% url 'inventaire:gestionstoragerack' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class=" font-bold mb-3" style="color:black;">Ajouter un incident</h1>
   </div>
   <h6 class="mt-2 mb-2" style="color: black;"> Cette page vous permet d'ajouter un incident sur un rack de stockage.</h6>
   <hr>
  <form method="post">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-sm">
        <div class="form-outline">
          {{ form.type_of_incident}}
          <label class="form-label" for="form10Example1">{{ form.type_of_incident.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{ form.date }}
          <label class="form-label" for="form10Example3">{{ form.date.label }}</label>
        </div>
      </div>
      
    </div>
    <div class="row g-3 mt-2">
          <div class="col-sm">
            <div class="form-outline">
              <textarea class="form-control" id="{{form.solution.id_for_label}}" rows="2" name="{{form.solution.name}}"></textarea>
              <label class="form-label" for="form10Example2">{{ form.solution.label }}</label>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-outline">
                <textarea class="form-control" id="{{form.description.id_for_label}}" rows="2" name="{{form.description.name}}"></textarea>
                <label class="form-label" for="textAreaExample">{{ form.description.label }}</label>
            </div>
          </div>
          
    </div>
          <div class="col-sm">
            <label class="form-label mt-3" for="form10Example2">{{ form.storage_rack.label }}</label>
            <div class="form-outline">
                {{ form.storage_rack }}
            </div>
          </div>
    <button type="submit" class="btn btn-primary mt-2" style="width: 300px; margin: 0 auto; color: black; background-color: orangered;">Enregistrer</button>
    <a href="{% url 'inventaire:server' %}" class="btn mx-2"style="background-color: black; color: white;">Retout à la liste</a>
  </form>
</div>
{% endblock %}