{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm;">
    <h1 class="font-bold" style="color:black;">Incident Server Detail</h1>
    <hr>
    <div class="container-fluid">
        <section>
            <div class="row ">
                <div class=" mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between p-md-1">
                          <div>
                            <h3 class="text-black text-blod">
                                L'incident est survenu sur le serveur : {{ incident_storagerack_detail.storage_rack }}
                            </h3>
                            Type d'incident : {{ incident_storagerack_detail.type_of_incident }}

                            <h6 >Date de l'incident : {{ incident_storagerack_detail.date | date:"d-m-Y" }}</h6>
                            <h5 class="text-black text-blod">
                                Description de l'incident :
                            </h5>
                            <p>
                                {{ incident_storagerack_detail.description }}
                            </p>
                            <h5 class="text-black">
                                Solution de l'incident :
                            </h5>
                            <p>
                                {{ incident_storagerack_detail.solution }}
                            </p>
                          </div>
                        </div>
                        
                      </div>
                      <div class="align-self-center ">
                        <h4 class="h1 mb-0 mt-2">
                        <a href="{% url 'inventaire:incidentstoragerack_update' incident_storagerack_detail.id %}" class="btn"><i class="fas fa-pen-to-square fa-2x" style="color: orangered;"></i></a>
                        <a href="{% url 'inventaire:incidentstoragerack_delete' incident_storagerack_detail.id %}" class="btn"><i class="fas fa-trash fa-2x" style="color: orangered;"></i></a>
                        <a href="{% url 'inventaire:incidentstoragerack'%}" class="btn"><i class="fas fa-rotate-left fa-2x" style="color: orangered;"></i></a>
                      </h4>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
      </div>
    
        
    
</div>
{% endblock %}