{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm;">
    <h1 style="color: orangered;">Supprimer un incident</h1>
        <form method="post">
        {% csrf_token %}
        <p class="text-black mx-2" >Êtes-vous sûr de vouloir supprimer  {{ incident_storagerack_detail.type_of_incident }} ?</p>
        <button type="submit" class="btn btn-black">Oui</button>
        <a href="{% url 'inventaire:index' %}" class="btn btn-black">Non</a>
    </form>
</div>
{% endblock %}