{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm;">
    <h1 class="text-black mt-2">Liste des Incidents</h1>
    <hr>    
    <div class="container-fluid">
        <section>
            {% for incident in incident_server_list %}
            <div class="row ">
                <div class=" mb-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                          <div class="align-self-center">
                            <i class="fas fa-pencil-alt fa-3x me-4" style="color: orangered;"></i>
                          </div>
                          <div>
                            
                            <h5>
                                Type d'incident : {{ incident.type_of_incident }}
                            </h5>
                            <h6 class="text-muted">Date de l'incident : {{ incident.date }}</h6>
                            <p class="mb-0"> {{ incident.description|truncatechars:100 }} </p>
                          </div>
                        </div>
                        <div class="align-self-center">
                          <h4 class="h1 mb-0 mt-2">
                            <a href="{% url 'inventaire:incidentserver_detail' incident.id %}"><i class="far fa-eye fa-xs" style="color: orangered;"></i></a>
                            <a href="{% url 'inventaire:incidentserver_update' incident.id %}"><i class="far fa-edit fa-xs" style="color: orangered;"></i></a>
                            <a href="{% url 'inventaire:incidentserver_delete' incident.id %}"><i class="fas fa-trash fa-xs" style="color: orangered;"></i></a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </section>
      </div>
    
        
    
</div>
{% endblock %}