{% extends 'base.html' %}

{% block content  %}

<style>

</style>
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <h1 class=" font-bold" style="color: black;">Gestion des incidents</h1>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:incidentserver_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-circle-plus fa-2x me-4" style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2" style="color: black;" >Ajouter un incident Pour un serveur</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:incidentstoragerack_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-circle-plus fa-2x me-4" style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2" style="color: black;" >Ajouter un incident Pour un baie de stockage</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:incidentserver' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-table-list fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Liste des incidents des serveurs</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:incidentstoragerack' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-table-list fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Liste des incidents des baies de stockage</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}