{% extends 'base.html' %}

<style>
    #move-me {
        position: relative;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }

    @keyframes move {
        0% {
            left: 0;
            top: 0;
        }

        100% {
            left: 100%;
            top: 100%;
        }
    }
</style>
{% block content %}
<div style="margin-top: 2cm;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                <img id="main-image" src="{{ images.0.image.url }}" width="250"
                                    style="border-radius: 20px;" />
                            </div>
                            <div class="thumbnail text-center">
                                <img onclick="change_image(this)" src="{{ images.0.image.url }}" width="70">
                                <img onclick="change_image(this)" src="{{ images.1.image.url }}" width="70">
                                <img onclick="change_image(this)" src="{{ images.2.image.url }}" width="70">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span
                                        class="ml-1 ms-2">
                                        <a href="{% url 'mobile:mobile_list' %}" style="color: orangered;">Retour </a>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{mobile.category}}</span>
                                <h5 class="text-uppercase">{{ mobile.title }}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <div class="ml-2"> <small class="dis-price">
                                            {{mobile.price}}
                                            <span>40% OFF</span>
                                    </div>
                                </div>
                            </div>
                            <p class="about">{{catgeory.description}} </p>
                            <div class="sizes mt-5">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3><i class="fas fa-mobile me-2"></i>{{mobile.taille}}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3><i class="fas fa-microchip me-2"></i>{{mobile.ram}}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3><i class="fas fa-hdd me-2"></i>{{mobile.rom}}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-danger text-uppercase px-4" style="background-color: orangered; color:black; border: none;">
                                        <a href="#target-div" style="color:black;">Voir plus</a>
                                </div>
                            </div>
                            <div class="cart mt-4 align-items-center">
                                <button class="btn btn-danger text-uppercase px-4"
                                    style="background-color: orangered; border: none;">
                                    Ajouter au panier
                                </button>
                                <i class="ms-3 fa fa-heart text-muted"></i>
                                <i class="ms-2 fa fa-share-alt text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-xl-5 card" id="target-div">
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Performance</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Système d'exploitation</div>
                                <div class="col-6 text-pre-line">{{mobile.system}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">CPU</div>
                                <div class="col-6 text-pre-line">{{mobile.cpu}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Mémoire RAM</div>
                                <div class="col-6 text-pre-line">{{mobile.ram}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2"><span class="font-weight-bold">Extension Mémoire</span></div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Type</div>
                                <div class="col-6 text-pre-line">{{mobile.type}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Capacité</div>
                                <div class="col-6 text-pre-line">{{mobile.rom}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2"><span class="font-weight-bold">Écran</span></div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Taille</div>
                                <div class="col-6 text-pre-line">{{mobile.taille}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Résolution</div>
                                <div class="col-6 text-pre-line">{{mobile.resolution}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Profondeur de couleurs</div>
                                <div class="col-6 text-pre-line">{{mobile.profndeur}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Rafraîchissement</div>
                                <div class="col-6 text-pre-line">{{mobile.Rafra}} Hz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2"><span class="font-weight-bold">Appareils photos</span></div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Appareil Photo Arrière</div>
                                <div class="col-6 text-pre-line">{{mobile.camera_rear}} MP</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Appareil Photo Selfie</div>
                                <div class="col-6 text-pre-line">{{mobile.camera_front}} MP</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Résolution capture video</div>
                                <div class="col-6 text-pre-line">{{mobile.video}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myDiv" style="display: none;" class="container card">
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Batterie</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Capacité</div>
                                <div class="col-6 text-pre-line">5000 mAh</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Chargement</div>
                                <div class="col-6 text-pre-line">33W</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Audio</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Entrée Audio</div>
                                <div class="col-6 text-pre-line">3.5 mm</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Radio FM</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Sécurité</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Sécurité</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Face Unlock</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Réseau</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">4G</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">3G</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">2G</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Connectivité</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Interface USB</div>
                                <div class="col-6 text-pre-line">USB Type-C 2.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Technologie de localisation</div>
                                <div class="col-6 text-pre-line">A-GPS, GLONASS, BDS, GALILEO</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Wi-Fi</div>
                                <div class="col-6 text-pre-line">Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct,
                                    hotspot</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Wi-Fi Direct</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">NFC</div>
                                <div class="col-6 text-pre-line">
                                    <span class="icon icon-vote text-primary icon-m-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Version Bluetooth</div>
                                <div class="col-6 text-pre-line">5.0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Spécifications physiques</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Dimensions (L x l x h, mm)</div>
                                <div class="col-6 text-pre-line">159.9 Х 73.9 Х 8.1 mm</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-8 offset-4 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Poids</div>
                                <div class="col-6 text-pre-line">179</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-4 py-2">
                            <span class="font-weight-bold">Contenu du coffret</span>
                        </div>
                        <div class="col-8 py-2 border-bottom border-500">
                            <div class="row">
                                <div class="col-6">Contenu du coffret</div>
                                <div class="col-6 text-pre-line">1x REDMI NOTE 11S 1x Câble USB 1x Chargeur 1x Aiguille
                                    carte SIM 1x Étui de protection</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><button id="myButton" class="btn mt-5" style="background-color: orangered; color:black; border: none;" >Voir plus</button></p>
    </div>

</div>


<script>
    const button = document.getElementById('myButton');
    const div = document.getElementById('myDiv');

    button.addEventListener('click', function () {
        if (div.style.display === 'none') {
            div.style.display = 'block';
            button.innerHTML = 'Masquer';

        } else {
            div.style.display = 'none';
        }
    });

    function change_image(image) {
        var container = document.getElementById("main-image");
        container.src = image.src;
    }
    document.addEventListener("DOMContentLoaded", function (event) {
    });
    const moveButton = document.getElementById('move-button');
    const moveMe = document.getElementById('move-me');
    const destination = document.getElementById('destination');

    moveButton.addEventListener('click', () => {
        destination.appendChild(moveMe);
    });

</script>
{% endblock %}