{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm;">
  <div class=" d-flex align-items-center">
    <a href="{% url 'mobile:mobile_list' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">{{ category.title }} Mobiles</h1>
  </div>
  <hr>
              <div class="row">
                {% for mobile in mobiles %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                  <div class="card">
                    <div class="d-flex justify-content-between p-3">
                      <p class="mb-0"><strong>{{ mobile.title }}</strong></p>
                      <div class=" rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px; background-color: orangered;">
                        <p class="text-white mb-0 small text-center">{{ mobile.taille }}</p>
                      </div>
                    </div>
                    {% with mobile.images.first as mobile_image %}
                        {% if mobile_image %}
                          <img src="{{ mobile_image.image.url }}" class="card-img-top" alt="Mobile Image" 
                          style="width: 70%; height: 60%; margin-left:15%;">
                        {% else %}
                          <p>Pas d'image disponible</p>
                        {% endif %}
                      {% endwith %}
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <p class="small">
                          <a href="#!" class="text-muted">{{ mobile.category }}</a>
                        </p>
                        <p class="small text-danger">
                          <s>{{ mobile.price }}</s>
                        </p>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-1">{{ mobile.title }}</h5>
                        <h5 class="text-dark mb-5"><strong>{{ mobile.price }}</strong></h5>
                      </div>
                    </div>
                    <a href="{% url 'mobile:mobile_detail' mobile.id %}" class="btn btn-primary " style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: orangered; border-color: orangered;">View Details</a>
                    {% if user.groups.all.0.name == 'IT' or user.is_superuser or user.groups.all.0.name == 'SMC' %}
                    <a href="{% url 'mobile:mobile_update' mobile.id %}" class="btn btn-warning mt-2 bold" style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: black; border-color: black;">Modifier le mobile</a>
                    <a href="{% url 'mobile:mobile_delete' mobile.id %}" class="btn btn-danger mt-2" style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: white; color: black; ">Supprimer le mobile</a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>    
        </div>
{% endblock %}
