{% extends 'base.html' %}
<style>
    #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
</style>
{% block content %}
<section class="gradient-custom" style="margin-top: 2cm; background-color: orangered; border-radius: 20px 20px 20px 20px ;">
    <div class="container mt-1 ">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" style="color: orangered;">
              Modifier le mobile
            </h3>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row mt-5">
                  <div class="col-md-6 mb-4 ">
                      <div class="form-outline">
                          <!--<input type="{{form.title.type}}" id="{{ form.title.id_for_label }}"
                              name="{{ form.title.html_name }}" class="form-control" /> -->
                          {{form.title}}
                          <label class="form-label" for="form3Example1">{{form.title.label}}</label>
                      </div>
                      {% if form.title.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.title.errors }}
                      </div> 
                      {% endif %}
                  </div>
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          {{form.price}}
                          <label class="form-label" for="form3Example2">{{form.price.label}}</label>
                      </div>
                      {% if form.price.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.price.errors }}
                      </div>
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.ram }}                  
                              <label class="form-label" for="form3Example2">{{form.ram.label}}</label>
                      </div>
                      {% if form.ram.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.ram.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.rom}}
                          <label class="form-label" for="form3Example2">{{form.rom.label}}</label>
                      </div>
                      {% if form.rom.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.rom.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.cpu }}
                          <label class="form-label" for="form3Example2">{{form.cpu.label}}</label>
                      </div>
                      {% if form.cpu.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.cpu.errors }}
                      </div>
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{form.system }}
                          <label class="form-label" for="form3Example2">{{form.system.label}}</label>
                      </div>
                      {% if form.system.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.system.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.type }}
                          <label class="form-label" for="form3Example2">{{form.type.label}}</label>
                      </div>
                      {% if form.type.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.type.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.battery }}
                          <label class="form-label" for="form3Example2">{{form.battery.label}}</label>
                      </div>
                      {% if form.battery.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.battery.errors }}
                      </div> 
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          {{form.taille }}
                          <label class="form-label" for="form3Example2">{{form.taille.label}}</label>
                      </div>
                      {% if form.taille.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.taille.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          {{ form.resolution }}
                          <label class="form-label" for="form3Example2">{{form.resolution.label}}</label>
                      </div>
                      {% if form.resolution.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.resolution.errors }}
                      </div> 
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          {{form.profndeur }}
                          <label class="form-label" for="form3Example2">{{form.profndeur.label}}</label>
                      </div>
                      {% if form.profndeur.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.profndeur.errors }}
                      </div>
                      {% endif %}
                  </div>
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          {{ form.Rafra }}
                          <label class="form-label" for="form3Example2">{{form.Rafra.label}}</label>
                      </div>
                      {% if form.Rafra.errors %}
                      <div class="alert alert-danger" role="alert">
                          {{ form.Rafra.errors }}
                      </div>
                      {% endif %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.camera_front}}
                          <label class="form-label" for="form3Example2">{{form.camera_front.label}}</label>
                      </div>
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.camera_rear }}
                          <label class="form-label" for="form3Example2">{{form.camera_rear.label}}</label>
                      </div>
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="form-outline">
                          {{ form.video}}
                          <label class="form-label" for="form3Example2">{{form.video.label}}</label>
                      </div>
                  </div>
              </div>
              
              <div class="mb-4">
                  <div class="select">
                      <option value="" disabled selected>Choisir une catégorie</option>
                      {{form.category}}
                  </div>
                  {% if form.categorie.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ form.categorie.errors }}
                  </div>
                  {% endif %}
              </div>
              <!--<div class=" mb-4">
                {% for image in images %}
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Image</label>
                    <input type="file" class="form-control" id="{{ image.id }}" name="{{ image.id }}" >
                    {{ image.image.url }}
                  </div>
                {% endfor %}
              </div>-->
              <button type="submit" class="btn btn-primary btn-block mb-2" style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: orangered; border-color: orangered;">
                Modifier le mobile
                </button>
            <a href="{% url 'mobile:mobile_list' %}"
            class="btn btn-primary btn-block mb-2" style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: black; color: white;">
              Retour à la liste
            </a>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}