{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Orange-TN</title>
  {% block title %}{% endblock title %}
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
  integrity="sha512-baC52JnHsCBvOpxWd8ze7wuIgqgzFmOdpLlWntf8GtrwRQlOQrGZtMcnZQZZN76tUs0b/+bbvEiLcB8Cz/VDug=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-7VzpOX6Y9h7V5E6YZz0LpTpTkqC+dBz6UZI6UZ+6kR9XQOv5b5HK5xaIh7Bku3q3u0nKMgNzZevK7NfLhpy9+w=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
  integrity="sha512-vvoF3Ej8oYNpJdt3qON3M1Df50WxMchPAPoPOI2+DR6nAGz6UZ9hqsn88UPRcfedOW5P5V5UNyB+yq3Srg1xLg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
<link rel="shortcut icon" href="{% static 'img/orangelogo.png'%}" type="image/x-icon" width="100px" height="150px">

<body>
    {% load static %}
    <style>
      .nav-item.me-3:hover {
        color: rgb(255, 255, 255) !important;
        border-radius: 10px;
      }
    
      .nav-link:hover {
        color: orangered !important;
      }
    
      .dropdown-item:hover {
        color: rgb(255, 255, 255) !important;
        background-color: orangered !important;
      }
    </style>
    <!-- Navbar -->
    <div class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(0, 0, 0);">
      <div class="container-fluid">
        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link mx-1 text-white" href="https://www.instagram.com/orange_tunisie/"><i
                class="fab fa-instagram fa-lg"></i></a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link mx-1 text-white" href="https://www.facebook.com/orange.tn"><i
                class="fab fa-facebook fa-lg"></i></a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link mx-1 text-white" href="https://twitter.com/orange"><i class="fab fa-twitter fa-lg"></i></a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link mx-1 text-white" href="https://www.linkedin.com/company/orange/"><i
                class="fab fa-linkedin fa-lg"></i></a>
          </li>
        </ul>
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
          <img src="{% static 'img/orangelogo.png'%}" style="width: 65px; height: 65px;" height="15" alt="MDB Logo"
            loading="lazy" />
        </a>
        <!-- Search form -->
        <div class="input-group"
          style="background-color: rgb(255, 255, 255) !important; border-radius: 10px ; width: 300px;">
          <div id="navbar-search-autocomplete" class="form-outline">
            <input type="search" id="form1" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary"
            style="border-radius: 0px 10px 10px 0px; background-color: orangered;">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Navbar -->
  {% block content %}
  {% endblock content %}



  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/popper.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
</body>

</html>