{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Orange-TN</title>
  {% block title %}{% endblock title %}
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
  integrity="sha512-baC52JnHsCBvOpxWd8ze7wuIgqgzFmOdpLlWntf8GtrwRQlOQrGZtMcnZQZZN76tUs0b/+bbvEiLcB8Cz/VDug=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
  integrity="sha512-vvoF3Ej8oYNpJdt3qON3M1Df50WxMchPAPoPOI2+DR6nAGz6UZ9hqsn88UPRcfedOW5P5V5UNyB+yq3Srg1xLg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
<link rel="shortcut icon" href="{% static 'img/orangelogo.png'%}" type="image/x-icon" width="100px" height="150px">
<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
  :root {
    --header-height: 3rem;
    --nav-width: 76px;
    --first-color: #000000;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box
  }

  body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
  }

  .header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
  }

  .header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
  }

  .header_img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden
  }

  .header_img img {
    width: 100px;
    transition: .5s
    }

  .l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
  }

  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .nav_logo,
  .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
  }

  .nav_logo {
    margin-bottom: 2rem
  }

  .nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
  }

  .nav_logo-name {
    color: var(--white-color);
    font-weight: 700
  }

  .nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
  }

  .nav_link:hover {
    color: var(--white-color)
  }

  .nav_icon {
    font-size: 1.25rem
  }

  .show {
    left: 0
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 1rem)

  }

  .active {
    color: var(#F7F6FB)
  }

  .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
  }

  .height-100 {
    height: 100vh
  }

  @media screen and (min-width: 768px) {
    body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
      width: 40px;
      height: 40px
    }

    .header_img img {
      width: 45px
    }

    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0
    }

    .show {
      width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
      padding-left: calc(var(--nav-width) + 188px)
    }
  }
</style>
<style>
  .nav_item {
    position: relative;
  }

  .nav_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: orangered;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }

  .nav_item:hover .nav_dropdown {
    display: block;
  }

  .nav_dropdown_item {
    padding: 8px 16px;
  }

  .nav_dropdown_item:hover {
    background-color: #f2f2f2;
  }
</style>
<style>
  body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
</style>
<body id="body-pd">
  <header class="header mb-5">
    <div class="header_toggle"> <i class="fas fa-bars" id="toggleId"></i> </div>
    <div class="header_img"> 
      <img src="{% static 'img/orangelogo.png'%}" alt=""> 
    </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="{% url 'accounts:profile' %}" class="nav_logo">
          <i class='fas fa-user-circle nav_logo-icon'></i>
          <span class="nav_logo-name">{{user.username}}</span> </a>
        <div class="nav_list">
          <a href="{% url 'home' %}" class="nav_link active">
            <i class='fas fa-table-columns nav_icon'></i>
          <span class="nav_name ms-1">Dashboard</span>
          </a>
          <a href="{% url 'accounts:parameter' %}" class="nav_link">
            <i class="fas fa-user-gear nav_icon"></i>
          <span class="nav_name ">Paramètres</span>
          </a>
          {% if user.is_superuser %}
            <a href="{% url 'accounts:index' %}" class="nav_link" >
              <i class='fas fa-users nav_icon' ></i>
              <span class="nav_name">Users </span>
            </a>

            <a href="{% url 'services:index' %}" class="nav_link">
              <i class="fas fa-globe nav_icon"></i>
              <span class="nav_name ms-1">Offres Mobiles</span>
            </a>
            
            <a href="{% url 'mobile:index' %}" class="nav_link" >
              <i class="fas fa-mobile-screen-button nav_icon"></i>
              <span class="nav_name ms-2">Smartphones</i></span>
            </a>
            <a href="{% url 'inventaire:index' %}" class="nav_link" >
              <i class="fas fa-boxes-stacked nav_icon " ></i>
              <span class="nav_name ">Inventaire</span>
            </a>
            <a href="{% url 'inventaire:gestionincident' %}" class="nav_link">
              <i class="fas fa-exclamation-circle nav_icon "></i>
              <span class="nav_name ">Icidents</span>
            </a>
          {% elif user.groups.all.0.name == 'SMC' %}
            <a href="{% url 'inventaire:index' %}" class="nav_link" >
              <i class="fas fa-boxes-stacked nav_icon " ></i>
              <span class="nav_name ">Inventaire</span>
            </a>
            <a href="{% url 'inventaire:index' %}" class="nav_link">
              <i class="fas fa-exclamation-circle nav_icon "></i>
              <span class="nav_name ">Icidents</span>
            </a>
          {% elif user.groups.all.0.name == 'IT' %}
            <a href="{% url 'services:index' %}" class="nav_link">
              <i class="fas fa-globe nav_icon"></i>
              <span class="nav_name ms-1">Offres Mobiles</span>
            </a>
            <a href="{% url 'mobile:index' %}" class="nav_link" >
              <i class="fas fa-mobile-screen-button nav_icon"></i>
              <span class="nav_name ms-2">Smartphones</i></span>
            </a>
          {% endif %}
        </div>
      </div>
      <a href="{% url 'accounts:logout' %}" class="nav_link">
        <i class='fas fa-arrow-right-from-bracket nav_icon'></i>
        <span class="nav_name">Se Deconnecter</span>
      </a>
    </nav>
  </div>

    {% block content %}
    
    {% endblock %}
  

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/popper.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
  <script>
    let sidebar = document.querySelector(".l-navbar");
    let sidebarToggleBtn = document.querySelector("#toggleId");
    let bodypd = document.querySelector("#body-pd");
    let header = document.querySelector(".header");
    let navLogo = document.querySelector(".nav_logo");
    let navLink = document.querySelectorAll(".nav_link");
    let linkIcon = document.querySelectorAll(".nav_icon");
    let linkName = document.querySelectorAll(".nav_name");
    let linkCollapse = document.querySelectorAll(".collapse");
    sidebarToggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("show");
      bodypd.classList.toggle("body-pd");
      header.classList.toggle("body-pd");
      
    });
    document.addEventListener("click", (e) => {
      if (e.target.classList.contains("link_name")) {
        linkCollapse.forEach((item) => {
          item.classList.remove("showCollapse");
        });
      }
    });
    navLink.forEach((item) => {
      item.addEventListener("click", () => {
        navLink.forEach((item) => {
          item.classList.remove("active");
        });
        item.classList.add("active");
      });
    });
    
  </script>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: 'err',
      footer: '<a href="">Why do I have this issue?</a>'
    })
  </script>
</body>

</html>