{% extends 'base.html' %}
{% block title %}

<title> Orange TN</title>

  {% endblock %}

  
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h1 class=" font-bold" style="color: black;">Welcome {{ user.username }}</h1>
        <hr>
        {% if user.is_superuser %}
        <div class="container-fluid">
          <section>
            <div class="row">
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'accounts:index' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-users-gear fa-2x me-4" style="color: orangered;"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2 text-black">Gestion des utilisateurs</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'inventaire:index' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-boxes-stacked  fa-2x me-4" style="color: orangered;"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Gestion des inventaires</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'mobile:index' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-mobile-screen-button fa-2x me-4" style="color: orangered;"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Gestion des Smartphones</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'services:index' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-globe fa-2x me-4" style="color: orangered;"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Gestion des offres mobiles</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'inventaire:gestionincident' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-exclamation-circle fa-2x me-4" style="color: orangered;"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Gestion des Incidents</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% elif user.groups.all.0.name == 'SMC' %}
        <div class="container-fluid">
          <section>
            <div class="row">
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'mobile:mobile_list' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-mobile-screen-button text-info fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Gestion des Smartphones</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'services:home' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-globe text-info fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Gestion des offres mobiles</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% elif user.groups.all.0.name == 'IT' %}
        <div class="container-fluid">
          <section>
            <div class="row">
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'inventaire:server' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-boxes-stacked text-info fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Gestion des inventaires</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'mobile:mobile_list' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-mobile-screen-button text-info fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Gestion des Smartphones</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'services:home' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-globe text-info fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Gestion des offres mobiles</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% endif %}
      </div>
    </div>
  </div> 
  {% endblock %}
