{% load static %}
<style>
  .nav-item.me-3:hover {
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
  }

  .nav-link:hover {
    color: orangered !important;
  }

  .dropdown-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: orangered !important;
  }
</style>
<!-- Navbar -->
<div class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(0, 0, 0);">
  <div class="container-fluid">
    <!-- Icons -->
    <ul class="navbar-nav d-flex flex-row me-5">
      <li class="nav-item me-5 me-lg-5">
        <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
          <img src="{% static 'img/orangelogo.png'%}" style="width: 65px; height: 65px;" height="15" alt="MDB Logo"
            loading="lazy" />
        </a>
      </li>
    </ul>
    <!-- Navbar brand -->
    
    <!-- Search form -->
    <div class="input-group"
      style="background-color: rgb(255, 255, 255) !important; border-radius: 10px ; width: 300px;">
      <div id="navbar-search-autocomplete" class="form-outline">
        <input type="search" id="form1" class="form-control" />
      </div>
      <button type="button" class="btn btn-primary"
        style="border-radius: 0px 10px 10px 0px; background-color: orangered;">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>
<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: rgb(233, 232, 232);">
  <!-- Container wrapper -->
  <div class="container-fluid" style="background: rgb(255, 255, 255);">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" style="font-size: 20px;" href="{% url 'home' %}">Accueil</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Utilisateurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'accounts:list' %}">Liste des utilisateurs</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Ajouter un utilisateur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Inventaire
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'inventaire:server' %}">Liste des serveurs</a></li>
            <li><a class="dropdown-item" href="{% url 'inventaire:server_create' %}">Ajouter un serveur</a></li>
            <li><a class="dropdown-item" href="{% url 'inventaire:storagerack' %}">Liste des bai de stockage</a></li>
            <li><a class="dropdown-item" href="{% url 'inventaire:storagerack_create' %}">Ajouter un serveur</a></li>
            <li><a class="dropdown-item" href="{% url 'reporting:inventory_report' %}">Telecharger le rapport </a></li>
            <li><a class="dropdown-item" href="{% url 'reporting:email_report' %}">Envoyer le rapport par mail </a></li>
          </ul>
        </li>   
                   
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Offres Mobiles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'services:home' %}">Liste des Offres Mobiles</a></li>
            <li><a class="dropdown-item" href="{% url 'services:create' %}">Ajouter une offre mobile</a></li>
            <li><a class="dropdown-item" href="{% url 'services:category' %}">Liste des catégories</a></li>
            <li><a class="dropdown-item" href="{% url 'services:category_create' %}">Ajouter une catégorie</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Smartphones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_list' %}">Liste des Smartphones </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_create' %}">Ajouter un Smartphone </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:home' %}">Liste des Categories </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:category_create' %}">Ajouter un Categorie </a></li>
          </ul>
        </li>
<<<<<<< HEAD
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Rapport
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'reporting:inventory_report' %}">Telecharger le rapport </a></li>
            <li><a class="dropdown-item" href="{% url 'reporting:email_report' %}">Envoyer le rapport par mail </a></li>
          </ul>
        </li>
=======
>>>>>>> 9ba9baa5b0ac145e274af481b3eae0c74f8c256f
        {% elif user.groups.all.0.name == 'SMC' %}
        <li class="nav-item mt-1 text-dark"><a class="nav-link" href="{% url 'services:home' %}">Les Offres Mobiles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Smartphones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_list' %}">Liste des Smartphones </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_create' %}">Ajouter un Smartphone </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mobile:home' %}">Liste des Categories </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:category_create' %}">Ajouter un Categorie </a></li>
          </ul>
        </li>
               
        {% elif user.groups.all.0.name == 'IT' %}
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Offres Mobiles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'services:home' %}">Liste des Offres </a></li>
            <li><a class="dropdown-item" href="{% url 'services:create' %}">Ajouter une Offre </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Smartphones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_list' %}">Liste des Smartphones </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:mobile_create' %}">Ajouter un Smartphone </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-dark" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mobile:home' %}">Liste des Categories </a></li>
            <li><a class="dropdown-item" href="{% url 'mobile:category_create' %}">Ajouter un Categorie </a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item mt-1"><a class="nav-link text-dark" href="{% url 'services:home' %}">Les Offres Mobiles</a>
        </li>
        <li class="nav-item mt-1"><a class="nav-link text-dark" href="{% url 'mobile:mobile_list' %}">Les Smartphones
          </a></li>
        {% endif %}
      </ul>
      
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <!-- Right elements -->
    <div class="d-flex align-items-center" style="margin-right: 8% !important;">
      <ul class="navbar-nav me-auto  mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link" style="font-size: 20px;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown-menu" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">{{ user.username }}</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:update' user.id %}">Modifier le profil</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:password' user.id %}">Confidentialité</a></li>
            <hr>
            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Se Deconnecter</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item text-dark" style="font-size: 20px;"><a href="{% url 'accounts:login' %}" class="nav-link">Se
            Connecter</a></li>
        {% endif %}
      </ul>
      <!-- Icon -->
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->