{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdn.plot.ly/plotly-2.0.0.min.css">
{% block content %}
<div class="d-flex align-items-center" style="margin-top: 2cm !important;">
  <a href="{% url 'inventaire:chart_form' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
  <h1 class=" font-bold mb-2" style="color:black;">Graphique</h1>
 </div>

<div id="chart-container">{{ chart|safe }}</div>
<script src="https://cdn.plot.ly/plotly-2.0.0.min.js">
  
</script>
<script>
  var chart = document.getElementById('chart-container');
  Plotly.newPlot(chart,{{chart|safe}}
</script>
<a href="{% url 'inventaire:chart_form' %}" class="btn mx-2" style="background-color: black; color: white;">
    <i class="fas fa-plus"></i> Nouveau graphique 
</a>
{% endblock %}