<style>
  .form-wrapper {
    justify-content: center;
    align-items: center;
    height: 70%; /* utilisez 100% si vous voulez centrer verticalement seulement */
    margin-top: 2%;
  } 
  form {
    border-radius: 5px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;  
  }
  select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
</style>

{% extends 'base.html' %}
{% block content %}
<div class="d-flex align-items-center" style="margin-top: 3cm !important;">
  <a href="{% url 'inventaire:gestionserver' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
  <h1 class=" font-bold mb-2" style="color:black;">Générer un graphique</h1>
 </div>
  <h6>Les données sont a partir de la table "Serveurs"</h6>
<div class="form-wrapper">
<form method="post" action="{% url 'inventaire:generate_chart' %}">
  <div class="form-group" style="width: 70%; margin: 0 auto;">
  {% csrf_token %}
  <label for="x_field" class="font-weight-bold">Axe des abscisses:</label>
  <select name="x_field" id="x_field">
    {% for field in fields %}
      <option value="{{ field }}">{{ field }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="y_field">Axe des ordonnées:</label>
  <select name="y_field" id="y_field">
    {% for field in fields %}
      <option value="{{ field }}">{{ field }}</option>
    {% endfor %}
  </select>
  <br>
<input type="submit" value="générer le graphique" class="btn" style="background-color: orangered; color: white;">
  </div>
</div>
</form>
{% endblock content %}