{% extends 'base.html' %}

{% block content %}
<div  style="margin-top: 3cm;">
    <div class=" d-flex align-items-center">
        <a href="{% url 'inventaire:gestionserver' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
        <h1 class=" font-bold mb-2" style="color:black;">Importer des données</h1>
    </div>
<form method="post" enctype="multipart/form-data" class="form-group mt-3">
    {% csrf_token %}
    <input type="file" name="file" id="file" class="form-control">
    <button type="submit" class="btn btn-primary mt-3"
    style="color: white; background-color: orangered; border: 1px solid orangered" >Importer des données</button>
    <a href="{% url 'inventaire:gestionserver' %}" class="btn btn-primary mt-2" style="width: 100px; margin: 0 auto; color: white; background-color: black;">Cancel</a>
</form>
</div>
{% endblock content %}