{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div style="margin-top: 2cm;">
  <div class=" d-flex align-items-center">
    <a href="{% url 'inventaire:server' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">Détails du serveur {{ server_detail.serial_number }}</h1>
  </div>
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm" data-width="250">N° série</th>
          <th class="th-sm" data-width="250" data-sort="false">Marque</th>
          <th class="th-sm" data-width="250" data-sort="false"> Site</th>
          <th class="th-sm" data-width="250" data-sort="false"> Support</th>
          <th class="th-sm" data-width="250" data-sort="false"> Projet</th>
          <th class="th-sm" data-width="250" data-sort="false"> Adresse IP</th>
          <th class="th-sm" data-width="300" data-sort="false"> Date d'achat</th>
          <th class="th-sm" data-width="250" data-sort="false"> Mise en production</th>
          <th class="th-sm" data-width="250" data-sort="false"> Systeme d'exploitation</th>
          <th class="th-sm" data-width="300"> RAM/ROM</th>
          <th class="th-sm" data-width="250" data-sort="false"> Processeur</th>
          <th class="th-sm" data-width="250" data-sort="false"> Puissance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ server_detail.serial_number }}</td>
          <td>{{ server_detail.brand }}</td>
          <td>{{ server_detail.site }}</td>
          <td>
            {% if server_detail.support == True %}
            Oui
            {% else %}
            Non
            {% endif %}
          </td>
          <td>{{ server_detail.project }}</td>
          <td>{{ server_detail.ip_address }}</td>
          <td>{{ server_detail.acquisition_date | safe }}</td>
          <td>{{ server_detail.mep_date | safe }}</td>
          <td>{{ server_detail.operating_system }}</td>
          <td>{{ server_detail.ram }}/{{ server_detail.disk }} Go</td>
          <td>{{ server_detail.cpu }} </td>
          <td>{{ server_detail.power }} W</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h6>Historique des incidents</h6>
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm" data-width="250">Type d'incident</th>
          <th class="th-sm" data-width="250" data-sort="false">Date de l'incident</th>
          <th class="th-sm" data-width="250" data-sort="false">Description</th>
          <th class="th-sm" data-width="250" data-sort="false">Solution</th>
        </tr>
      </thead>
      <tbody>
          {% for incidentserver_list in server_detail.incidentserver_set.all %}
          <tr>
          <td>{{ incidentserver_list.type_of_incident }}</td>
          <td>{{ incidentserver_list.date | safe }}</td>
          <td>{{ incidentserver_list.description }}</td>
          <td>{{ incidentserver_list.solution }}</td>
          </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <a href="{% url 'inventaire:server_update' server_detail.serial_number %}" class="btn btn-primary" style="background-color: orangered; color: white;">Modifier</a>
    <a href="{% url 'inventaire:server_delete' server_detail.serial_number %}" class="btn btn-primary" style="background-color: black; color: white;">Supprimer</a>
    {% if server_detail.document %}
    <a href="{{ server_detail.document}}" class="btn btn-primary" style="background-color: orangered; color: white;">Voir le document</a>
    {% endif %}
  </div>
</div>
{% endblock %}
  
