{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm; !important">
    <div class=" d-flex align-items-center">
      <a href="{% url 'inventaire:server' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
      <h1 class="text-black text-bold">Supprimer un serveur</h1>
    </div>
    <hr>
        <form method="post">
        {% csrf_token %}
        <p class="text-black mx-2" >Êtes-vous sûr de vouloir supprimer  {{ server_detail.brand }} ?</p>
        <button type="submit" class="btn btn-black">Oui</button>
        <a href="{% url 'inventaire:server' %}" class="btn btn-black">Non</a>
    </form>
</div>
{% endblock %}