{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div style="margin-top: 2cm;">
  <div class=" d-flex align-items-center">
    <a href="{% url 'inventaire:gestionserver' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">Liste des serveurs</h1>
  </div>
  <hr>
  <div class="d-flex justify-content-between mt-2 mb-2">
    <div class="d-flex">
      <form method="get" action="{% url 'inventaire:server' %}">
        <div class="input-group md-form mb-2 filterable">
          <input type="text" name="q" class="form-control border border-orangered" placeholder="Rechercher"
            aria-label="Rechercher" aria-describedby="basic-addon2" style="border-radius: 20px 0px 0px 20px;">
          <button id="search_advanced_btn mt-2" class="btn btn btn-sm " type="submit" style="border-radius: 0px 20px 20px 0px;
                        background-color: orangered; color: white;">
            <i class="fa fa-search my-1 mx-1"></i>
          </button>
          <!--
          <a id="search_advanced_btn" class="btn btn btn-sm mx-2" href="{% url 'inventaire:exportserver' %}" style="border-radius: 20px 0px 20px 0px;
                        background-color: rgb(0, 0, 0); color: white;">
            <i class="fa fa-file-download my-1 mx-1"></i>
          </a>
          <a id="search_advanced_btn" class="btn btn btn-sm " href="{% url 'inventaire:importserver' %}" style="border-radius: 0px 20px 0px 20px;
                        background-color: rgb(0, 0, 0); color: white;">
            <i class="fas fa-file-upload my-1 mx-1"></i>
          </a>
          <a id="search_advanced_btn" class="btn btn btn-sm ms-2"  style="border-radius: 0px 20px 0px 20px;
                        background-color: rgb(255, 255, 255); color: orangered; border: 1px solid black;">
            <i class="fas fa-chart-pie my-1 mx-1"></i>
          </a>
          //-->
        </div>
      </form>
    </div>
    <a class="btn btn-primary btn-sm ml-3" href="{% url 'inventaire:server_create' %}"
      style="background-color: orangered; color: white;">
      <i class="fa fa-plus my-2 mx-2"></i>
    </a>
  </div>
  <div id="table_advanced_search">
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead class="text text-white" style="background-color: orangered;">
        <tr>
          <th class="th-sm" data-width="250">N° série</th>
          <th class="th-sm" data-width="250" data-sort="false">Marque</th>
          <th class="th-sm" data-width="300" data-sort="false">Date d'acquisition</th>
          <th class="th-sm" data-width="250" data-sort="false">Systeme </th>
          <th class="th-sm" data-width="300">RAM/Capacité</th>
          <th class="th-sm" data-width="250" data-sort="false">Processeur</th>
          <th class="th-sm" data-width="250" data-sort="false">Puissance</th>
          <th class="th-sm" data-width="250" data-sort="false">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for server in server_list %}
        <tr>
          <td>{{ server.serial_number }}</td>
          <td>{{ server.brand }}</td>
          <td>{{ server.acquisition_date | safe }}</td>
          <td>{{ server.operating_system }}</td>
          <td>{{ server.ram }}/{{ server.disk }}Go</td>
          <td>{{ server.cpu }} </td>
          <td>{{ server.power }} W</td>
          <td>
            <a href="{% url 'inventaire:server_detail' server.serial_number %}" class="btn btn-sm"
              style="background-color: orangered; color: white;">
              <i class="fas fa-xs fa-eye" style="color: white;"></i>
            </a>
            <a href="{% url 'inventaire:server_update' server.serial_number %}" class="btn btn-sm mx-1"
              style="background-color: white; color: orangered;">
              <i class="fas fa-xs fa-edit" style="color: black;"></i>
            </a>
            <a href="{% url 'inventaire:server_delete' server.serial_number %}" class="btn btn-sm"
              style="background-color:black; color: white;">
              <i class="fas fa-xs fa-trash" style="color: white;"></i>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="12">Aucun serveur trouvé . </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1"> Première</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Dernière</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>  

{% endblock %}