{% extends 'base.html' %}

{% block content  %}

<style>

</style>
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <div class=" d-flex align-items-center">
        <a href="{% url 'home' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
        <h1 class=" font-bold" style="color: black;">Gestion des inventaires</h1>
       </div>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:gestionserver' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-server fa-2x me-4" style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2" style="color: black;" >Les Serveurs</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:gestionstoragerack' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-table-list fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Les baie de stockage</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'reporting:index' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="far fa-eye fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Voir le rapport</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'reporting:inventory_report' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-file-arrow-down fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3"style="color: black;">Telecharger le rapport</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'reporting:email_report' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-square-arrow-up-right fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3"style="color: black;">Envoyer le rapport</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}