{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="h-100 h-custom" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="{% static 'img/bg9.png' %}" class="w-80"
                        style="border-radius:3rem; border-top-right-radius: .3rem; height: 350px;" alt="Sample photo">
                    <div class="card-body">
                        <h3 class="mb-3" style="color:black">Envoyer le rapport par mail</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline ">
                                <input type="{{form.to_email.type}}" id="{{form.to_email.id_for_label}}" class="form-control mt-2" name="{{form.to_email.name}}" />
                                <label class="form-label" for="formControlLg">{{form.to_email.label}}</label>
                            </div>
                            <button type="submit" class="btn btn-black btn-block  mt-4 ">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}