<h2> Liste des serveurs </h2>
<table class="table">
        <tr class="fw-bold" >
            <td class="td-sm" >N° série</td>
            <td class="td-sm" >Marque</td>
            <td class="td-sm" >Site</td>
            <td class="td-sm" >Support</td>
            <td class="td-sm" >Projet</td>
            <td class="td-sm" >Date d'achat</td>
            <td class="td-sm" >Date MEP</td>
            <td class="td-sm" >Systeme</td>
            <td class="td-sm" >RAM/ROM</td>
            <td class="td-sm" >Processeur</td>
            <td class="td-sm" >Puissance</td>
        </tr>
    <tbody>
        {% for server in servers %}
        <tr>
            <td>{{ server.serial_number }}</td>
            <td>{{ server.brand }}</td>
            <td>{{ server.site }}</td>
            <td>
              {% if server.support == True %}
              Oui
              {% else %}
              Non
              {% endif %}
            </td>
            <td>{{ server.project }}</td>
            <td>{{ server.acquisition_date | date:"d/m/Y" }}</td>
            <td>{{ server.mep_date | date:"d/m/Y" }}</td>
            <td>{{ server.operating_system }}</td>
            <td>{{ server.ram }}/{{ server.disk }}Go</td>
            <td>{{ server.cpu }} </td>
            <td>{{ server.power }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="12">Aucun serveur trouvé . </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

<h2> Liste des bai de stockage </h2>
<table>
    <thead class="fw-bold">
        <tr class="fw-bold" >
            <td class="fw-bold">N° série</td>
            <td class="fw-bold">Marque</td>
            <td>Site</td>
            <td>Support</td>
            <td>Projet</td>
            <td>Date d'achat</td>
            <td>Date MEP</td>
            <td>Model</td>
            <td>Rom</td>
            <td>Puissance</td>
        </tr>
    </thead>
    <tbody>
        {% for storage_rack in storage_racks %}
        <tr>
            <td>{{ storage_rack.serial_number }}</td>
            <td>{{ storage_rack.brand }}</td>
            <td>{{ storage_rack.site }}</td>
            <td>{{ storage_rack.support }}</td>
            <td>{{ storage_rack.project }}</td>
            <td>{{ storage_rack.acquisition_date | date:"d/m/Y" }}</td>
            <td>{{ storage_rack.mep_date | date:"d/m/Y" }}</td>
            <td>{{ storage_rack.model }}</td>
            <td>{{ storage_rack.type_of_storage }}-{{ storage_rack.capacity }}Gb</td>
            <td>{{ storage_rack.power }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>