{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
  <div style="margin-top: 2cm;">
    <h1 class="" style="color: orangered">Liste des utilisateurs</h1>
  </div>
   {% for customer in customers %}
        <div class="card  container mt-3" style="border: 1px solid black; background-color: white;">
            <h5 class="card-header" style="color: orangered">{{customer.username}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{customer.email}}</h5>
              <p class="card-text">{{customer.first_name}} {{customer.last_name}}</p>
              <p class="card-text">Dernière connexion:{{customer.last_login}}</p>
              <a href="{% url 'accounts:detail' customer.id %}" class="btn "
              style="color: white; background-color:orangered;">
               Voir le profil</a>
              <a href="{% url 'accounts:update' customer.id %}" class="btn "
              style="color: white; background-color: black;">
              Modifier le profil</a>
              <a href="{% url 'accounts:delete' customer.id %}" class="btn "
              style="color: black;  background-color:white;">
              Supprimer le profil</a>
              <a href="{% url 'accounts:login_log' customer.id %}" class="btn "
              style="color: white; background-color:orangered;">
              Historique de connexion</a>
            </div>
          </div>
  {% endfor %} 
{% endblock content %}