{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm;">
    <h1 style="color: orangered;">Supprimer l'utilisateur</h1>
        <form method="post">
        {% csrf_token %}
        <p class="text-black mx-2" >Êtes-vous sûr de vouloir supprimer l'utilisateur {{ customer.username}} ?</p>
        <button type="submit" class="btn btn-black">Oui</button>
        <a href="{% url 'accounts:list' %}" class="btn " style="background-color: orangered; color: white;">Non</a>
    </form>
</div>
{% endblock %}