{% extends 'base.html' %}


{% block content  %}
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <div class=" d-flex align-items-center">
        <a href="{% url 'home' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
        <h1 class=" font-bold" style="color:black;">Gestion des utilisateurs</h1>
       </div>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:register' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-user-plus fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Ajouter un utilisateur</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:list' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i class="fas fa-list-ol fa-2x me-4"style="color: orangered;"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2"style="color: black;">Liste des utilisateurs</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}