{% extends 'base.html' %}

{% block content %}
  <div style="margin-top: 3cm;">
    <div class=" d-flex align-items-center">
      <a href="{% url 'accounts:list' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
      <h1 class=" font-bold mb-2" style="color:black;">Historique des connexions</h1>
     </div>
  {% if login %}
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><strong>Date de connexion</strong></th>
          <th>Statut de connexion</th>
          <th>Date de déconnexion</th>
        </tr>
      </thead>
      <tbody>
        {% for log in login %}
          <tr>
            <td>{{ log.login_time }}</td>
            <td>
              {% if log.statusdelogin %}
              Active
              {% else %}
              Inactive
              {% endif %}
            </td>
            <td>
              {% if log.logout_time %}
                {{ log.logout_time }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune connexion n'a été enregistrée.</p>
  {% endif %}
</div>
{% endblock %}
