{% extends 'base1.html' %}

{% block title %}
{% endblock %}
<style>
    .vh-100{
      background-color: #dd4b39;
    }
    .btn{
      border-radius: 1rem;
    }
    .btn:hover{
      background-color: orangered;
    }
</style>
{% block content %}
    <form method="POST">
      {% csrf_token %}
      <section class="vh-60 mt-5">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border: 1px solid orangered; border-radius: 1rem;">
                <div class="card-body  text-center">
                  <h3 class="mb-4 mt-2" style="color: orangered;">Connexion</h3>
                  <div class="form-outline mb-2">
                    <input type="text" id="username" name="username" class="form-control form-control-lg" />
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Mot de passe</label>
                  </div>
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-start mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                    <label class="form-check-label" for="form1Example3"> Se souvenir du mot de passe </label>
                  </div>
                  <button class="btn" type="submit" style="background-color: orangered; color: white; width: 60%;">Se connecter</button>
                  {% if form.errors %}
                    <div class="alert alert-danger mt-3" role="alert">
                     <strong>Nom d'utilisateur ou mot de passe incorrect</strong>
                    </div>
                    {% endif %}
                  <hr class="mt-2 mb-1" />
                    <p class="mt-3 mb-1" >Mot de passe oublié ?<a href="">Cliquez ici</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
{% endblock %}
