{% extends 'base.html' %}
{% block content  %}
<style>
  h6{
    color: black;
  }
</style>
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <div class=" d-flex align-items-center">
       <a href="{% url 'home' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
       <h1 class="font-bold ml-auto" style="color: black;">Paramètre du compte</h1>
      </div>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:profile' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row text-black">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="far fa-circle-user fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class="font-semibold mb-0 mt-2">{{ user.username }}</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:update' user.id %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-user-pen fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2">Modifier Mon Compte</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:password' user.id %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-screwdriver-wrench fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2">Change le mot de passe</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'accounts:logout' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-right-from-bracket fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class="font-semibold mb-0 mt-2">Se deconnecter</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}