{% extends 'base.html' %}

{% block content %}
<section class="background-radial-gradient overflow-hidden " style="margin-top: 2cm;">
    <div class="container px-4 px-md-5 text-center text-lg-start py-3 ">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(27, 81%, 55%)">
                    Mettre à jour  <br />
                    <span class="mx-5" style="color: hsl(27, 90%, 71%)">le mot de passe</span>
                </h1>
            </div>
            <div class="col-lg-6 mb-1 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="password" id="{{ form.old_password.id_for_label }}" class="form-control" name="{{ form.old_password.html_name }}" required>
                                <label class="form-label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                            </div>
                            <small class="text-danger"> 
                                {% for error in form.old_password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </small>                            
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" id="{{ form.new_password1.id_for_label }}" class="form-control" name="{{ form.new_password1.html_name }}" required>
                                        <label class="form-label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                                    </div>
                                    <small class="text-danger"> 
                                        {% for error in form.new_password1.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </small>
                                </div> 
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" id="{{ form.new_password2.id_for_label }}" class="form-control" name="{{ form.new_password2.html_name }}" required>
                                        <label class="form-label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                                    </div>
                                    <small class="text-danger"> 
                                        {% for error in form.new_password2.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </small>
                                </div> 
                            </div>
                            <button type="submit" class="btn btn-block mb-2 mt-2"
                                style="background-color: hsl(27, 81%, 55%); color: white ; border-radius: 20px" >
                                Mettre à jour
                            </button>
                            <a type="reset" class="btn btn-block mb-4"
                            href="{% url 'accounts:parameter' %}"
                                style="background-color: black; color: white ; border-radius: 20px" >
                                Annuler
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}