{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

 <div style="margin-top: 2cm;">
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                   {% if user.is_superuser %}
                   <li class="breadcrumb-item " aria-current="page"><a href="{% url 'accounts:list' %}">Liste des utilisateurs</a>
                   {% endif %}
                  <li class="breadcrumb-item active" aria-current="page">Profil</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4" style="border-right: 1px solid orangered;">
              <div class="card mb-4 mt-3">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3" style="color: orangered !important;" >{{ user.username }}</h5>
                  <p class="text-muted mb-1" style="color: orangered !important;" >
                    {% for group in user.groups.all %}
                    {{ group.name }}
                  {% endfor %}
                  </p>
                  <p class="text-muted mb-4 black" style="color: black !important;">Date d'inscription :{{ user.date_joined | date:"d M Y" }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-8 mt-5">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="color: black !important;" >Prénom</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0" style="color: orangered !important;">{{ user.first_name }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="color: black !important;" >Nom</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0" style="color: orangered !important;">{{ user.last_name }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="color: black !important;">Email</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0" style="color: orangered !important;">{{ user.email }}</p>
                    </div>
                  </div>          
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0" style="color: black !important;">Dernière connexion</p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0" style="color: orangered !important;">{{ user.last_login | date:"d M Y H:i" }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 </div>

{% endblock %}