{% extends 'base.html' %}
<style>
    #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
</style>
{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="margin-top: 2cm;">
    <div class="container px-4 px-md-5 text-center text-lg-start py-3 ">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(27, 81%, 55%)">
                    Compte utilisateur<br />
                    <span class="mx-5" style="color: hsl(27, 90%, 71%)">en quelques clics</span>
                </h1>
            </div>
            <div class="col-lg-6 mb-1 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="POST">
                            {% csrf_token %}
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="{{ form.first_name.id_for_label }}"
                                            name="{{ form.first_name.html_name }}" class="form-control" />
                                        <label class="form-label" for="form3Example1">Prénom</label>
                                    </div>
                                    <small class="text-danger">
                                        {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                        {{ error }}
                                        {% endfor %}
                                        {% endif %}
                                    </small>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="{{ form.last_name.id_for_label }}"
                                            name="{{ form.last_name.html_name }}" class="form-control" />
                                        <label class="form-label" for="form3Example2">Nom</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Username input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="{{ form.username.id_for_label }}"
                                    name="{{ form.username.html_name }}" class="form-control" />
                                <label class="form-label" for="form3Example3">{{ form.username.label }}</label>
                            </div>
                            <small class="text-danger">
                                {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                            </small>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                                    class="form-control" />
                                <label class="form-label" for="form3Example3">Email</label>
                            </div>
                            <small class="text-danger">
                                {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                            </small>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" id="{{ form.password1.id_for_label }}"
                                            name="{{ form.password1.html_name }}" class="form-control" />
                                        <label class="form-label" for="form3Example1">Mot de passe</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="password" id="{{ form.password2.id_for_label }}"
                                            name="{{ form.password2.html_name }}" class="form-control" />
                                        <label class="form-label" for="form3Example2">Confirmer mot de passe</label>
                                    </div>
                                </div>
                                <small class="text-danger">
                                    {% if form.password1.errors %}
                                    {% for error in form.password1.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                                </small>
                                <small class="text-danger">
                                    {% if form.password2.errors %}
                                    {% for error in form.password2.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                                </small>
                            </div>
                            <!-- Select input Group -->
                            {% for group in form.groups %}
                            {{ group }}
                            {% endfor %}
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-block mb-2 mt-4"
                                style="background-color: hsl(27, 81%, 55%); color: white; border-radius: 20px;">
                                Créer Compte
                            </button>
                            <a href="{% url 'accounts:index' %}" class="btn btn-block mb-2 mt-2" style="color: white; background-color: black; border-radius: 20px; margin-bottom: 1cm">
                                Retour à l'accueil
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}