{% extends 'base.html' %}
{% block content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="margin-top: 2cm;">
    <div class="container px-4 px-md-5 text-center text-lg-start py-3 ">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(27, 81%, 55%)">
                    Modifier  <br/>
                    <span class="mx-5" style="color: hsl(27, 90%, 71%)">les données</span>
                </h1>
            </div>
            <div class="col-lg-6 mb-1 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form method="POST">
                            {% csrf_token %}
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="{{ form.first_name.id_for_label }}"
                                            name="{{ form.first_name.html_name }}" class="form-control" 
                                            value="{{ form.first_name.value }}" />
                                        <label class="form-label" for="form3Example1">{{ form.first_name.label }}</label>
                                    </div>
                                    <small class="text-danger">
                                        {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                        {{ error }}
                                        {% endfor %}
                                        {% endif %}
                                    </small>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="{{ form.last_name.id_for_label }}"
                                            name="{{ form.last_name.html_name }}" class="form-control" 
                                            value="{{ form.last_name.value }}" />
                                        <label class="form-label" for="form3Example2">{{ form.last_name.label }}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Username input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="{{ form.username.id_for_label }}"
                                    name="{{ form.username.html_name }}" class="form-control" 
                                    value="{{ form.username.value }}" />
                                <label class="form-label" for="form3Example3">{{ form.username.label }}</label>
                            </div>
                            <small class="text-danger">
                                {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                            </small>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                                    class="form-control" value="{{ form.email.value }}" />
                                <label class="form-label" for="form3Example3">{{ form.email.label }}</label>
                            </div>
                            <small class="text-danger">
                                {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                {{ error }}
                                {% endfor %}
                                {% endif %}
                            </small>
                                <small class="text-danger">
                                    {% if form.password1.errors %}
                                    {% for error in form.password1.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                                </small>
                            </div>
                            <!-- Select input Group -->
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-block mb-2 mt-2"
                                style="background-color: hsl(27, 81%, 55%); color: white">
                                Modifier
                            </button>
                            <div class="row justify-content-center">
                            <a href="{% url 'accounts:delete' customer.id %}" class="btn mb-2 mt-2 col-4"
                                style="background-color: black; color: white">
                                Supprimer
                            </a>
                            <a href="{% url 'accounts:list' %}" class="btn  mb-2 mt-2 col-4 ms-4"
                                style="background-color: white; color: black">
                                Retour
                            </a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}