{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div style="margin-top: 2cm;">
  <!-- Section: Design Block -->
  <section class="">
    <!-- Background image -->
    <div class=" bg-image" style="
   background-image: url('{% static 'img/bg.jpg'%}');height: 300px;"></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
  ">
      <div class="card-body px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5 text-center" style="color: black;">Ajouter un Offre</h2>
            <form method="POST" class="card" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="{{form.title.id_for_label}}" class="form-control"
                  name="{{form.title.html_name}}" />
                <label class="form-label" for="form3Example3">{{form.title.label}}</label>
              </div>
              <div class="form-outline mb-4">
                <textarea class="form-control" id="{{form.content.id_for_label}}" rows="3"
                  name="{{form.content.html_name}}"></textarea>
                <label class="form-label" for="textAreaExample">{{form.content.label}}</label>
              </div>
              <div class="mb-4">
                <label class="form-label" for="customFile">{{form.image.label}}</label>
                <input type="file" class="form-control" id="customFile" name="{{form.image.html_name}}" />
              </div>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <input type="text" id="{{form.Prix.id_for_label}}" class="form-control"
                      name="{{form.Prix.html_name}}" />
                    <label class="form-label" for="form3Example1">{{form.Prix.label}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <input type="text" id="{{form.Appels.id_for_label}}" class="form-control"
                      name="{{form.Appels.html_name}}" />
                    <label class="form-label" for="form3Example1">{{form.Appels.label}}</label>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-outline">
                    <input type="text" id="{{form.SMS.id_for_label}}" class="form-control"
                      name="{{form.SMS.html_name}}" />
                    <label class="form-label" for="form3Example1">{{form.SMS.label}}</label>
                  </div>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="customFile" id="{{form.category.id_for_label}}" >Choisir une catégorie</label>
                  {{form.category}}
                </div>
              </div>
              <div class="form-check d-flex justify-content mb-2">
                {% for mobile in form.mobiles %}
                <div class="form-check form-check-inline">
                  {{mobile}}
                </div>
                {% endfor %}
              </div>
              <!-- Publish button -->
              <div class="form-check d-flex justify-content mb-4 ms-3">
                <input class="form-check-input" type="checkbox" value="" id="{{form.pubished.id_for_label}}"
                  name="{{form.pubished.html_name}}" />
                <label class="form-check-label" for="{{form.pubished.id_for_label}}">
                  Cocher pour publier
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-black btn-block ">
                Ajouter un Offre
              </button>
              <a href="{% url 'services:home' %}" class="btn black btn-lg btn-block mb-1 text-black">
                Retour à la liste des Offres
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
{% endblock %}