{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% load static %}
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block content %}
<div style="margin-top: 2cm;">
  <img src="{{ service.image.url }}" class="img-fluid" style="height: 100%;width: 100%; border-radius: 10px;" alt="...">
  <h1 style="margin-top: -80px ; color:#fd7e14; margin-left: 20px;">{{ service.title }}</h1><br>
  <p style="margin-top: -30px ; color:#fd7e14; margin-left: 20px;">{{service.content}}</p>

  <!--<div class="row justify-content-start">
    <div class="col-1 d-flex justify-content-center align-items-center rounded-circle border" style="background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: 20px; border-radius: 30mm;"> 
      <p class="text-center blod"style="margin-top: 20px;"><strong>{{service.Appels}} Mil/min</strong></p>
    </div>
    <div class="col-1 d-flex justify-content-center align-items-center rounded-circle border" style="background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: 20px; border-radius: 30mm;"> 
      <p class="text-center blod"style="margin-top: 20px;"><strong>{{service.SMS}} Mil/sms</strong></p>
    </div>
    <div class="col-1" style="margin-left: 120px;">
      <button class="btn btn-sm btn-block btn-primary px-lg-2" type="button">Choisir cette offre</button>
    </div>
  </div> -!>
  <!- Details -->
  <h1 class="h3 container mt-4" style="color: #fd7e14;">Détails et avantages de l'offre</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>{{service.content}}</p>
      </div>
      <div class="col-md-2 ">
        <div class="d-flex text-center justify-content-center align-items-center rounded-circle border"
          style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0);">
          <p class="text-center blod" style="margin-top: 20px;"><strong>{{service.Prix}} DT</strong>
            <i class="far fa-calendar"></i>
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex justify-content-center align-items-center rounded-circle border"
          style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: -40px;">
          <p class="text-center blod" style="margin-top: 20px;"><strong>{{service.Appels}} Mil</strong>
            <i class="fas fa-phone"></i>
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex justify-content-center align-items-center rounded-circle border"
          style="width: 100px; height: 100px; background-color: #fd7e14; color: rgb(0, 0, 0); margin-left: -80px;">
          <p class="text-center blod" style="margin-top: 20px;"><strong>{{service.SMS}} sms</strong>
            <i class="fas fa-envelope"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Options -->
  <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
  <h1 class="h3  container mt-2" style="color: #fd7e14;">Options</h1>
  <div class="card mb-3" style="max-width: 100%; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'img/options.jpg'%}" class="img-fluid mt-4 "
          style="height: 80%;width: 80%; border-radius: 10px; margin-left: 50px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bénéficiez également et en exclusivité des options:</h5>
          <p class="card-text">1.« Ena wayek » qui vous permettent de choisir un Numéro Favori de votre choix et
            profitez ainsi de 60 min par jour pour communiquer librement durant toute la journée avec une validité
            allant de 7 jours à un mois.

            Pour profiter des Options Ena Wayek composez le *105# Pour plus d’information cliquez ici.</p>
          <p class="card-text">
            <small class="text-muted">Pour plus d’information cliquez ici.</small>
          </p>
          <p>2.« Familti » qui vous permettent de choisir jusqu’à 5 membres pour former un groupe et partager entre
            vous, un forfait d’appels + Internet. Tous les membres du groupe peuvent s’appeler mais également se
            connecter librement et en toute sérénité entre eux en puisant dans les nouvelles options Familti Pour
            profiter des nouvelles options Familti, composez *225#</p>
          <p class="card-text">
            <small class="text-muted">Pour plus d’information cliquez ici.</small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- les codes utiles -->
  <hr class="border-4" />
  <h1 class="h3 container mt-2" style="color: #fd7e14;">Les Codes Utiles</h1>
  <div class="card mb-3" style="max-width: 100%; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body text-black">
          <ul class="list-group ">
            <li class="list-group-item d-flex align-items-center mt-1 mb-1 black ">
              Recharg
              <span class="badge rounded-pill mx-2" style="background-color: #fd7e14; color: rgb(0, 0, 0);">*100*</span>
              le code de recharge
              <span class="badge rounded-pill mx-2" style="background-color: #fd7e14; color: rgb(0, 0, 0);">#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Suivi Conso / Bonus
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*101#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Portail de services
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*111#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Recharge moi
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*114*</span>
              numéro
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Rappelle-moi
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*115*</span>
              numéro
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Transfert de crédit
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*116*</span>
              numéro
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*</span>
              montant
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*</span>
              PIN
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Connaître mon numéro
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*123#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Paramétrages internet et SMS
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*121#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Orange Fidélité
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">*112#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Pour suivre votre consommation du mois
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">* 101 * 4#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Pour suivre votre bonus internet mobile
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">* 101 * 45#</span>
            </li>
            <li class="list-group-item d-flex align-items-center ">
              Facturation par palier de
              <span class="badge rounded-pill mx-2 text-center"
                style="background-color: #fd7e14; color: rgb(0, 0, 0);">60 secondes</span>
              pour les appels nationaux
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/code.jpg'%}" class="img-fluid mt-5"
          style="height: 80%;width: 80%;border-radius: 20px; margin-left: 10%;" alt="Code Image" />
      </div>
    </div>
  </div>
  <!-- les telephones -->
  <hr class="border-4" style="border : 4px solid #fd7e14; margin-top: 20px;" />
  <h1 class="h3 mb-4 mt-2">Téléphones associés à cette offre</h1>
  <div class="row mt-2 my-2" style="margin-left: 2%">
    {% for mobile in mobile_services %}
    <div class="col-6 col-md-4 col-lg-3 mb-5">
      <div class="card">
        <div class="d-flex justify-content-between p-3">
          <p class="mb-0"><strong>{{ mobile.title }}</strong></p>
          <div class=" rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
            style="width: 35px; height: 35px; background-color: orangered;">
            <p class="text-white mb-0 small text-center">{{ mobile.taille }}</p>
          </div>
        </div>
        {% with mobile.images.first as mobile_image %}
        {% if mobile_image %}
        <img src="{{ mobile_image.image.url }}" class="card-img-top" alt="Mobile Image"
          style="width: 70%; height: 60%; margin-left:15%;">
        {% else %}
        <p>Pas d'image disponible</p>
        {% endif %}
        {% endwith %}
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="small">
              <a href="#!" class="text-muted">{{ mobile.category }}</a>
            </p>
            <p class="small text-danger">
              <s>{{ mobile.price}} DT</s>
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <h6>{{ mobile.title|truncatechars:13 }}</h6>
            <h6 class="text-dark">{{ mobile.price }}</h6>
          </div>
        </div>
        <a href="{% url 'mobile:mobile_detail' mobile.id %}" class="btn btn-primary mt-2"
          style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem; background-color: orangered; border-color: orangered;">View
          Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}