{% extends 'base.html' %}

{% load static %}
{% block title %}
    
{% endblock %}

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
{% block content %}
<section class="article-list">
    <div style="margin-top: 2cm;">
        <div class=" d-flex align-items-center">
            <a href="{% url 'mobile:index' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
            <h1 class="text-black text-bold">Liste des offre Mobile</h1>
          </div>
          <hr>
        {% for cat in categories %}
        {% if  cat.services.count > 0 %}
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0 text-black">{{ cat.title }}</h2>
            <a href="{% url 'services:category_services' cat.id %}" class="btn" style="background-color: orangered; color: white;">Voir plus</a>
        </div>
        <div class="row articles mt-2 mb-5">
            {% for service in cat.services.all|slice:":3" %}
            <div class="col-6 col-sm-4 item mt-2">
                <div class="card mt-2">
                    <img src="{{ service.image.url }}" class="card-img-top" alt="..."
                        style="height: 200px; width: 100%; display: block;">
                    <div class="card-body pb-2">
                        <p class="fw-bold text-black small text-uppercase mb-1">
                            {{ service.title }}
                        </p>
                        <p class="fw-bold h4 mb-1">{{ service.Prix }} <small>Dt/Mois</small></p>
                        <hr class="hr my-2">
                        <span>
                            <strong class="me-1 black">
                                {{ service.Appels }} 
                                <small>/Mil</small>
                            </strong>
                            <i class="fas fa-phone me-2 text-muted"></i>
                        </span>
                        <span>
                                <strong class="me-1  black">
                                    {{ service.SMS }}
                                    <small>/Mil</small>
                                </strong>
                        </span>
                        <i class="fas fa-envelope me-2 text-muted"></i>
                    </div>
                    <div class="card-body d-flex justify-content pt-2">
                        <a href="{% url 'services:detail' service.id %}" class="btn btn-sm btn-block"
                            style="color: white ; background-color:  rgb(233, 131, 47);">Voir Plus</a>
                    </div>
                    <div class="card-body justify-content pt-2">
                        {% if user.groups.all.0.name == 'IT' or user.groups.all.0.name == 'Admin' %}
                        <a href="{% url 'services:upated' service.id %}" class="btn btn-sm ms-5 ms-2"  style="color: white ; background-color:  rgb(0, 0, 0);"
                        >Modifier</a>
                        <a href="{% url 'services:delete' service.id %}" class="btn btn-sm ms-5"
                            style="color: rgb(0, 0, 0) ; background-color:  rgb(255, 255, 255);"
                        >Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
            
            
            
        
    </div>
</section>
{% endblock %}