{% extends 'base.html' %}

{% load static %}
{% block title %}
    
{% endblock %}

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
{% block content %}
<section class="article-list">
    <div style="margin-top: 2cm;">
        <div class=" d-flex align-items-center">
            <a href="{% url 'mobile:index' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
            <h1 class="text-black text-bold">Liste des offre Mobile</h1>
          </div>
          <hr>
    </div>

    
    {% for  cat in categories %}
     
    <div class="container">
        <a href ="{% url 'services:services_by_category' cat.id %}"class="btn btn-primary mt-2 btn-lg btn-block">{{ cat.title }}</a>
        
    {% endfor %}
        
         
    </div>
</section>
{% endblock %}