{% extends 'base.html' %}

{% block content %}
  <h1>Services by Category</h1>
  <hr>
  <div class="row mt-4">
    <div class="col-md-3">
      <h3>Categories</h3>
      <ul class="list-group mt-4">
        {% for category in categories %}
          <li class="list-group-item {% if category.id == category_id %}active{% endif %}">
            <a href="{% url 'services_by_category' category.id %}">{{ category.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row mb-4 mt-4">
        {% for service in services %}
          <div class="col-md-6 mb-4">
            <div class="card">
              {% if service.image %}
                <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                {% if service.subtitle %}
                  <h6 class="card-subtitle mb-2 text-muted">{{ service.subtitle }}</h6>
                {% endif %}
                <p class="card-text">{{ service.content }}</p>
                <a href="{% url 'service_detail' service.id %}" class="card-link">View Details</a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-md-12">
            <p>Aucun service trouvé pour cette catégorie.</p>
          </div>
        {% endfor %}
      </div>
      {% if is_paginated %}
        <div class="pagination justify-content-center mt-4">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
