{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div style="margin-top: 2cm;">
    <!-- Section: Design Block -->
    <section class="">
        <!-- Background image -->
        <div class="card-body py-4 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5 text-center" style="color: orangered;">Ajouter un offre mobile</h2>
                    <form method="POST" class="card" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="{{form.title.id_for_label}}" class="form-control"
                             name="{{form.title.html_name}}" value="{{form.title.value}}" />
                            <label class="form-label" for="form3Example3">{{form.title.label}}</label>
                        </div>
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="{{form.content.id_for_label}}" rows="4" name="{{form.content.html_name}}" value="">
                                {{form.content.value}}
                            </textarea>
                            <label class="form-label" for="textAreaExample">
                                {{form.content.label}}
                            </label>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="customFile">{{form.image.label}}</label>
                            <input type="file" class="form-control" id="{{form.image.id_for_label}}" name="{{form.image.html_name}}" value="{{form.image.value}}" />
                        </div>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="{{form.Appels.id_for_label}}" class="form-control"
                                        name="{{form.Appels.html_name}}" value="{{form.Appels.value}}" />
                                    <label class="form-label" for="form3Example1">{{form.Appels.label}}</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <input type="number" id="{{form.Prix.id_for_label}}" class="form-control"
                                        name="{{form.Prix.html_name}}" value="{{form.Prix.value}}" />
                                    <label class="form-label" for="form3Example1">{{form.Prix.label}}</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="{{form.SMS.id_for_label}}" class="form-control"
                                        name="{{form.SMS.html_name}}" value="{{form.SMS.value}}" />
                                    <label class="form-label" for="form3Example1">{{form.SMS.label}}</label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="customFile">Choisir une catégorie</label>
                                {{form.category}}
                            </div>
                            <div class="form-check d-flex justify-content mb-2">
                                {% for mobile in form.mobiles %}
                                <div class="form-check form-check-inline">
                                  {{mobile}}
                                </div>
                                {% endfor %}
                              </div>
                        </div>
                        <!-- Publish button -->
                        <div class="form-check d-flex justify-content mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="{ form.pubished.value }"
                                id="{{form.pubished.id_for_label}}" name="{{form.pubished.html_name}}" />
                            <label class="form-check-label" for="{{form.pubished.id_for_label}}">
                                Cocher pour publier
                            </label>
                        </div>
                        <!-- Submit button -->
                        <div class="row">
                        <button type="submit" class="btn btn-primary mb-2 " style="background-color: orangered;">
                            Enregistrer
                        </button>
                        <a type="reset" class="btn btn-primary " style="background-color: white; color:black" href="{% url 'services:home' %}">
                            Annuler
                        </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</div>
</section>
<!-- Section: Design Block -->
</div>
{% endblock %}