{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div style="margin-top: 2cm;">
  <div class=" d-flex align-items-center">
    <a href="{% url 'inventaire:server' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">Détails du rack de stockage {{ storage_rack_detail.serial_number }}</h1>
  </div>
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th class="th-sm" data-width="250">N° série</th>
            <th class="th-sm" data-width="250" data-sort="false">Marque</th>
            <th class="th-sm" data-width="250" data-sort="false"> Support</th>
            <th class="th-sm" data-width="250" data-sort="false"> Projet</th>
            <th class="th-sm" data-width="300" data-sort="false"> Date d'achat</th>
            <th class="th-sm" data-width="250" data-sort="false"> Mise en production</th>
            <th class="th-sm" data-width="300"> Modèle</th>
            <th class="th-sm" data-width="250" data-sort="false"> Stockage</th>
            <th class="th-sm" data-width="250" data-sort="false"> Puissance</th>
            <th class="th-sm" data-width="250" data-sort="false"> Document</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ storage_rack_detail.serial_number }}</td>
            <td>{{ storage_rack_detail.brand }}</td>
            <td>
              {% if storage_rack_detail.support == True %}
              Oui
              {% else %}
              Non
              {% endif %}
            </td>
            <td>{{ storage_rack_detail.project }}</td>
            <td>{{ storage_rack_detail.acquisition_date | safe }}</td>
            <td>{{ storage_rack_detail.mep_date | safe }}</td>
            <td>{{ storage_rack_detail.model }}</td>
            <td>{{ storage_rack_detail.type_of_storage }} : {{ storage_rack_detail.capacity }}</td>
            <td>{{ storage_rack_detail.power }} W</td>
            <td>
              {% if storage_rack_detail.document %}
              Le document est disponible
              {% else %}
              Aucun document
              {% endif %}
            </td>
          </tr>
      </tbody>
    </table>
    <hr>
    <h6>Historique des incidents</h6>
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm" data-width="250">Type d'incident</th>
          <th class="th-sm" data-width="250" data-sort="false">Date de l'incident</th>
          <th class="th-sm" data-width="250" data-sort="false">Description</th>
          <th class="th-sm" data-width="250" data-sort="false">Solution</th>
        </tr>
      </thead>
      <tbody>
          {% for incident in incident_list %}
          <tr>
          <td>{{ incident.type_of_incident }}</td>
          <td>{{ incident.date | safe }}</td>
          <td>{{ incident.description }}</td>
          <td>{{ incident.solution }}</td>
          </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <a href="{% url 'inventaire:server_update' storage_rack_detail.serial_number %}" class="btn btn-primary" style="background-color: orangered; color: white;">Modifier</a>
    <a href="{% url 'inventaire:server_delete' storage_rack_detail.serial_number %}" class="btn btn-primary" style="background-color: black; color: white;">Supprimer</a>
    {% if storage_rack_detail.document %}
    <a href="{{ storage_rack_detail.document}}" class="btn btn-primary" style="background-color: orangered; color: white;">Voir le document</a>
    {% endif %}
  </div>
</div>
{% endblock %}
  
