{% extends 'base.html' %}

{% block content  %}
<style>
  h6{
    color: black;
  }
</style>
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <div class=" d-flex align-items-center">
        <a href="{% url 'inventaire:index' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
        <h1 class=" font-bold" style="color: black;">Gestion des baie de stockage</h1>
       </div>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:storagerack_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-circle-plus fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Ajouter un baie de stockage</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:storagerack' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-list-ol fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Liste des baies de stockage</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:import' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-upload fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Importer un fichier</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:export' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-download fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Exporter un fichier</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:storagerack_form' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-chart-pie fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Statistiques</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'inventaire:incidentstoragerack_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-circle-exclamation fa-2x me-4 mt-2"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-3">Ajouter un incident</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}