{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 2cm; !important">
  <div class=" d-flex align-items-center">
    <a href="{% url 'inventaire:storagerack' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">Modifier un baie de stockage</h1>
  </div>
  <hr>
  <form method="post">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-sm">
        <div class="form-outline">
          {{ form.serial_number }}
          <label class="form-label" for="form10Example1">{{ form.serial_number.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{ form.brand }}
          <label class="form-label" for="form10Example2">{{ form.brand.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{ form.site }}
          <label class="form-label" for="form10Example3">{{ form.site.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{ form.project }}
          <label class="form-label" for="form10Example3">{{ form.project.label }}</label>
        </div>
      </div>
    </div>
    <div class="row g-3 mt-2">
      <div class="col-sm">
        <div class="form-outline">
          {{form.acquisition_date}}
          <label class="form-label" for="form10Example3">{{ form.acquisition_date.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{form.mep_date}}
          <label class="form-label" for="form10Example3">{{ form.mep_date.label }}</label>
        </div>
      </div>
    </div>
    <div class="row g-3 mt-2">
      <div class="col-sm">
        <div class="form-outline">
          {{form.model}}
          <label class="form-label" for="form10Example3">{{ form.model.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{form.type_of_storage}}
          <label class="form-label" for="form10Example3">{{ form.type_of_storage.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{form.capacity }}
          <label class="form-label" for="form10Example3">{{ form.capacity.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{form.power}}
          <label class="form-label" for="form10Example3">{{ form.power.label }}</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-outline">
          {{form.document}}
          <label class="form-label" for="form10Example3">{{ form.document.label }}</label>
        </div>
      </div>
    </div>
    <div class="row g-3 mt-2">
      <div class="col-sm">
        <div class="form-outline">
          {{form.support }}
          <label class="form-label" for="form10Example3">{{ form.support.label }}</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2" style="width: 200px; margin: 0 auto; color: white; background-color: orangered;">Modifier</button>
    <a href="{% url 'inventaire:storagerack' %}" class="btn btn-primary mt-2" style="width: 100px; margin: 0 auto; color: white; background-color: black;">Cancel</a>  </form>
</div>
{% endblock %}
