{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div style="margin-top: 2cm;">
  <div class=" d-flex align-items-center">
    <a href="{% url 'inventaire:gestionstoragerack' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
    <h1 class="text-black text-bold">liste des baies de stockage</h1>
  </div>
  <hr>
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex">
      <form method="get" action="{% url 'inventaire:storagerack' %}">
        <div class="input-group md-form mb-2 filterable">
          <input type="text" name="q" class="form-control border border-orangered" placeholder="Rechercher"
            aria-label="Rechercher" aria-describedby="basic-addon2" style="border-radius: 20px 0px 0px 20px;">
          <button id="search_advanced_btn" class="btn btn btn-sm " type="submit" style="border-radius: 0px 20px 20px 0px;
                        background-color: orangered; color: white;">
            <i class="fa fa-search my-1 mx-1"></i>
          </button>
        </div>
      </form>
    </div>
    <a class="btn btn-primary btn-sm ml-3" href="{% url 'inventaire:storagerack_create' %}"
      style="background-color: orangered; color: white;">
      <i class="fa fa-plus my-2 mx-2"></i>
    </a>
  </div>
  
  <div id="table_advanced_search">
    <table class="table table-striped table-bordered table-sm text-center" cellspacing="0" width="100%">
      <thead class="text text-white" style="background-color: orangered;">
        <tr>
          <th class="th-sm" data-width="250">N° série</th>
          <th class="th-sm" data-width="250" data-sort="false">Marque</th>
          <th class="th-sm" data-width="300" data-sort="false"> Date d'acquisition</th>
          <th class="th-sm" data-width="300"> Modèle</th>
          <th class="th-sm" data-width="250" data-sort="false"> Type de stockage</th>
          <th class="th-sm" data-width="250" data-sort="false"> Stockage</th>
          <th class="th-sm" data-width="250" data-sort="false"> Puissance</th>
          <th class="th-sm" data-width="250" data-sort="false"> Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for rock in storage_rack_list %}
        <tr>
          <td>{{ rock.serial_number }}</td>
          <td>{{ rock.brand }}</td>

          <td>{{ rock.acquisition_date | safe }}</td>
          <td>{{ rock.model }}</td>
          <td>{{ rock.type_of_storage }} </td>
            <td>{{ rock.capacity }}</td>
          <td>{{ rock.power }} W</td>
          <td>
            <a href="{% url 'inventaire:storagerack_detail' rock.serial_number %}" class="btn btn-sm"
              style="background-color: orangered; color: white;">
              <i class="fas fa-xs fa-eye" style="color: white;"></i>
            </a>
            <a href="{% url 'inventaire:storagerack_update' rock.serial_number %}" class="btn btn-sm mx-1"
              style="background-color: white; color: orangered;">
              <i class="fas fa-xs fa-edit" style="color: black;"></i>
            </a>
            <a href="{% url 'inventaire:storagerack_delete' rock.serial_number %}" class="btn btn-sm"
              style="background-color:black; color: white;">
              <i class="fas fa-xs fa-trash" style="color: white;"></i>
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="12">Aucun serveur trouvé.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1"> Première</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Dernière</a></li>
        {% endif %}
      </ul>
    </nav>
  </div> 
</div>

{% endblock %}