{% extends 'base.html' %}


{% block content  %}
<style>
  h6{
    color: black;
  }
</style>
<div class="row" style="margin-top: 2cm;">
    <div class="col-md-12 mt-5">
      <h1 class=" font-bold" style="color:orangered;">Gestion des Smartphones</h1>
      <hr>
      <div class="container-fluid">
        <section>
          <div class="row">
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'mobile:mobile_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-circle-plus fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2">Ajouter un smartphone</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'mobile:mobile_list' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-list-ol fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class=" font-semibold mb-0 mt-2">Liste des smartphones</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <a href="{% url 'mobile:category_create' %}">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <i style="color: orangered;" class="fas fa-table-cells-large fa-2x me-4"></i>
                      </div>
                      <div>
                        <h6 class="font-semibold mb-0 mt-2">Ajouter un categorie</h6>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12 mb-4">
                <div class="card">
                  <div class="card-body">
                    <a href="{% url 'mobile:home' %}">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i style="color: orangered;" class="fas fa-list-ol  fa-2x me-4"></i>
                        </div>
                        <div>
                          <h6 class=" font-semibold mb-0 mt-2">Liste des categories</h6>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}