{% extends 'base.html' %}
{% load static %}
{% block content %}
<section   style="margin-top: 2cm;">
    <div class="container py-5 h-100"  style="background-color: #e27005;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="{% static 'img/bg1.jpg' %}" class="w-80" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;
                        height: 300px;"
                        alt="Sample photo">
                    <div class="card-body p-2 p-md-5">
                        <h3 class="mb-2 pb-2 pb-md-0 mb-md-2 px-md-2"
                        style="color: #e27005;" >Créer une nouvelle catégorie </h3>
                        <form method="post" >
                            {% csrf_token %}
                            <div class="form-outline mb-2">
                                <input type="text" id="{{form.title.id_for_label}}" class="form-control form-control-lg"
                                    name="{{form.title.html_name}}" />
                                <label class="form-label" for="form3Example1q">{{form.title.label}}</label>
                            </div>
                            <div class="form-outline mb-2">
                                <textarea class="form-control" id="{{form.description.id_for_label}}"
                                    rows="4" name="{{form.description.html_name}}"></textarea>
                                <label class="form-label" for="form3Example3q">{{form.description.label}}</label>
                            </div>
                            <button type="submit" 
                            class="btn btn-black black btn-lg btn-block mb-1">Créer</button>
                            <a href="{% url 'services:category' %}" class="btn black btn-lg btn-block mb-1" style="color: black;">Annuler</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}