{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 2cm;">
        <h1 style="color: orangered;" > {{ categoryservice.title }} </h1>
    <ul>
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ categoryservice.title}}</div>
                    {{ categoryservice.description }}<br>
                    <a style="color: orangered;" href="{% url 'services:category' %}">Retour à list des catégories</a>
                  </div>
                  <span class="badge rounded-pill"
                  style="color: orangered; background-color: #f8f9fa; border: 1px solid orangered; font-size: 15px; font-weight: 500;">
                    {{ categoryservice.posts|length }}
                  </span>
                </li>                
            </ol>
            <div class="row">
              <div class="col-2 mx-2">
                <a href="{% url 'services:category_update' categoryservice.id %}" class="btn btn-black btn-sm btn-block ">Modifier</a>
              </div>
              <div class="col-2">
                <a href="{% url 'services:category_delete' categoryservice.id %}" class="btn btn-block btn-sm " style="background-color: orangered; color: white;">Supprimer</a>
              </div>
    </ul>
</div>
{% endblock %}