{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 2cm;">
  <div class="row">
    <div class="col-md-6">
      <h1 style="color: orangered;"> Liste de toutes les catégories </h1>
    </div>
    <div class="col-md-2 ms-auto">
      <a href="{% url 'services:category_create' %}" class="btn  btn-sm content-center " style="background-color: black; color: white;">Ajouter une catégorie</a>
    </div>
  </div>
    <ul>
        {% for category in categoryservices %}
            <ol class="list-group list-group-light ">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ category.title}}</div>
                    {{ category.description|truncatechars:150 }}
                    <a style="color: orangered;" href="{% url 'services:category_detail' category.id %}">Voir plus</a>
                  </div>
                  <span class="badge rounded-pill"
                  style="color: orangered; background-color: #f8f9fa; border: 1px solid orangered; font-size: 15px; font-weight: 500;">
                    {{ category.id }} 
                  </span>
                </li>    
                <div class="row">
                  <div class="col-2 mx-2">
                    <a href="{% url 'services:category_update' category.id %}" class="btn btn-black btn-block btn-sm">Modifier</a>
                  </div>
                  <div class="col-2">
                    <a href="{% url 'services:category_delete' category.id %}" class="btn btn-block btn-sm " style="background-color: orangered; color: white;">Supprimer</a>
                  </div>
              </div>
              </ol>
        {% endfor %}
    </ul>
</div>
{% endblock %}