{% extends 'base.html' %}


{% block content %}
<div style="margin-top: 2cm;">

  <div class="row">
    <div class="col-md-6">
      <div class=" d-flex align-items-center">
        <a href="{% url 'mobile:index' %}"><i class="fas fa-arrow-left fa-2x mx-2" style="color: orangered;"></i></a>
        <h1 class="text-black text-bold">Liste des catégories</h1>
      </div>
    </div>
    <div class="col-md-2 ms-auto mt-3 ">
      <a href="{% url 'mobile:category_create' %}" class="btn  btn-sm content-center " style="background-color: black; color: white;">Ajouter une catégorie</a>
    </div>
    <hr>
  </div>
    <ul>
        {% for category in categories %}
            <ol class="list-group list-group-light ">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ category.title}}</div>
                    {{ category.description|truncatechars:150 }}
                    <a style="color: orangered;" href="{% url 'mobile:category_detail' category.pk %}">Voir plus</a>
                  </div>
                  <span class="badge rounded-pill"
                  style="color: orangered; background-color: #f8f9fa; border: 1px solid orangered; font-size: 15px; font-weight: 500;">
                    {{ category.id }}
                  </span>
                </li>    
                <div class="row">
                  <div class="col-2 mx-2">
                    <a href="{% url 'mobile:category_update' category.pk %}" class="btn btn-black btn-block btn-sm">Modifier</a>
                  </div>
                  <div class="col-2">
                    <a href="{% url 'mobile:category_delete' category.pk %}" class="btn btn-block btn-sm " style="background-color: orangered; color: white;">Supprimer</a>
                  </div>
              </div>
              </ol>
        {% endfor %}
    </ul>
</div>
{% endblock %}